<table class="header-container">
  <tr>
    <td>
      <img src="https://imagizer.imageshack.com/img921/1092/gfROWT.png" width="10px">
    </td>
    <td class="header-logo" height="48px" max-width="58px" style="margin-right:10px;">
      <a routerLink="/welcome">
        <img src="http://imageshack.com/a/img922/41/nHqTVQ.png" height="48px" width="auto" max-height="48px" max-width="48px">
      </a>
    </td>
    <td>
      <img src="https://imagizer.imageshack.com/img921/1092/gfROWT.png" width="10px">
    </td>
    <td style="width:80%"></td>
    <td id="header-controlpanel" style="width:20%">
      <app-controlpanel></app-controlpanel>
    </td>
  </tr>
</table>