<h1 mat-dialog-title>Player Details for {{ this.descriptionHeaderPartyString(data.slotNum) }}<br>
  {{ data.instance }} <br>
  {{ data.owner }} @ {{ data.ownerServer }} </h1>
<div mat-dialog-content>
  <p>
    <img src="{{ data.slotAvatar }}"><br>
    User: {{ data.slotUsername }}<br>
    Character: {{ data.slotCharacterName }} @ {{ data.slotServerName }} ({{ data.slotDatacenterName }})<br>
    Current Job: {{ data.slotJob }} <br>
    <ng-container *ngIf="data.slotAltJobs && data.slotAltJobs.length > 0">
      Other Jobs: {{ data.slotAltJobs }} <br>
    </ng-container>
    <ng-container *ngIf="data.discordID && data.discordTag">
      <a href="https://discordapp.com/users/{{data.discordID}}" target="_blank">Discord: {{ data.discordTag }}</a>
    </ng-container>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="userIsPartyOwner()" mat-stroked-button color="warn" (click)="onDisband()">DISBAND</button>
  <button *ngIf="userOwns(data.slotUsername) && !userIsPartyOwner()" mat-stroked-button color="warn" (click)="onLeave()">LEAVE</button>
  <button *ngIf="!userOwns(data.slotUsername) && userIsPartyOwner()" mat-stroked-button color="warn" (click)="onKick()">KICK</button>
  <button mat-stroked-button (click)="onOk()">OK</button>
</div> 