<div class="party-composition">
  <table [style.height.px]="getTableHeight()">
    <ng-container *ngFor="let slot of slots; let i = index;">
      <div *ngIf="i%8 === 0" style="position: absolute; top: -124px; left: 0px;">
        <tr *ngIf="i%8 === 0" [ngClass]="{firstRow: (i == 0), secondRow: (i == 8), thirdRow: (i == 16), fourthRow: (i == 24), fifthRow: (i == 32), sixthRow: (i == 40), seventhRow: (i == 48)}">
          <ng-container *ngFor="let slotX of slots; let j = index;">
            <td *ngIf="(j >= i) && (j < i+8)">
              <div>
                <img class="slot-tooltip-overlay" [matTooltip]="getSlotTitle(j)" matTooltipPosition="above" [src]="slotOverlay()" (click)="onClick(j)">
                <img class="party-slot-filled" [src]="slotFillOverlay(j)">
                <img class="party-job-icon" [src]="getSlotImage(j).icon">
                <img class="slot-owned-highlight" [src]="getSlotHighlight(j)">
                <img class="party-slot-leader" [src]="slotLeaderOverlay(j)">
              </div>
            </td>
          </ng-container>
        </tr>   
      </div>
    </ng-container>
  </table>
</div>