/* Welcome to CSS hell.
   Please, have a seat. */

.party-composition {
  max-width: 300px;
  height: 100%;

  table {
    width: 100%;

    td {
      width: 12.5%;
      max-width: 12.5%;
    }
  }
}

div {
  width: 32px;
  height: 32px;
  margin-right: 1px;
}
.firstRow{
  position: absolute; 
  top: 0px;
}

.secondRow{
  position: absolute; 
  top: 34px;
}

.thirdRow{
  position: absolute; 
  top: 68px;
}

.fourthRow{
  position: absolute; 
  top: 102px;
}

.fifthRow{
  position: absolute; 
  top: 136px;
}

.sixthRow{
  position: absolute; 
  top: 170px;
}

.seventhRow{
  position: absolute; 
  top: 204px;
}

.party-slot-filled {
  position: relative;
  opacity: 0.8;
  float: left;
  left: 2px;
  top: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  z-index: 5 !important;
}

.party-job-icon {
  position: relative;
  float: left;
  left: 2px;
  bottom: 0px;
  width: 32px;
  height: 32px;
  text-align: center;
  z-index: 4 !important;
}

.party-slot-glow {
  position: absolute;
  float: left;
  width: 36px;
  text-align: center;
  z-index: 2 !important;
}

.party-slot-leader {
  position: relative;
  opacity: 0.8;
  float: left;
  left: 1px;
  top: -70px;
  width: 32px;
  height: 32px;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  text-align: center;
  z-index: 5 !important;

}

.slot-tooltip-overlay {
  position: relative;
  cursor: pointer;
  top: 68px;
  left: 2px;
  height: 32px;
  width: 32px;
  z-index: 6 !important;
}

.slot-owned-highlight {
  position: relative;
  opacity: .8;
  float: left;
  left: -1px;
  top: -35px;
  width: 38px;
  height: 38px;
  text-align: center;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  z-index: 3 !important;
}


