<div class="filters" [formGroup]="form">
  <h2>Filters</h2>
  <mat-form-field color="accent" [matTooltip]="getSelectedInstances()">
    <mat-label>Instance</mat-label>
    <mat-select formControlName="instance" multiple>
      <mat-option matInput (onSelectionChange)="setInstance()" *ngFor="let instance of this.instances" [value]="instance">{{ instance.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" [matTooltip]="getSelectedPurposes()">
    <mat-label>Purpose</mat-label>
    <mat-select formControlName="purpose" multiple>
      <mat-option matInput (onSelectionChange)="setPurpose()" *ngFor="let purpose of this.purposes" [value]="purpose">{{ purpose }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" [matTooltip]="getSelectedJobs()">
    <mat-label>Job Availability</mat-label>
    <mat-select formControlName="job" multiple>
      <mat-option matInput (onSelectionChange)="setJob()" *ngFor="let job of this.jobs" [value]="job">{{ job }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" [matTooltip]="getSelectedDifficulties()">
    <mat-label>Difficulty (Not Implemented)</mat-label>
    <mat-select formControlName="difficulty" multiple>
      <mat-option matInput (onSelectionChange)="setDifficulty()" *ngFor="let difficulty of this.difficulties" [value]="difficulty">{{ difficulty }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" [matTooltip]="getSelectedITypes()">
    <mat-label>Instance Type (Not Implemented)</mat-label>
    <mat-select formControlName="itype" multiple>
      <mat-option matInput (onSelectionChange)="setIType()" *ngFor="let itype of this.itypes" [value]="itype">{{ itype }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--<mat-form-field>
    <mat-label>Minimum iLevel</mat-label>
    <mat-slider min="0" max="500" step="5" value="0" matNativeControl formControlName="ilvl"></mat-slider>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Level</mat-label>
    <mat-slider min="0" max="80" step="1" value="0" matNativeControl formControlName="lvl"></mat-slider>
  </mat-form-field>
  <mat-form-field>
    <mat-slide-toggle matNativeControl formControlName="verf">
      Verified Users Only
    </mat-slide-toggle>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Parse</mat-label>
    <mat-slider min="0" max="100" step="1" value="0" matNativeControl formControlName="parse"></mat-slider>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Parse Median</mat-label>
    <mat-slider min="0" max="100" step="1" value="0" matNativeControl formControlName="parsem"></mat-slider>
  </mat-form-field> -->
  <!-- Owner Name TODO -->
  <!-- Party Member Name TODO -->
  <!-- Description Contains TODO -->
  <!-- Schedule TODO -->
  <br>
  <button mat-raised-button class="filter-button" (click)="filterSearch()" matTooltip="Change Filtered Search">
    <mat-icon class="filter-search-icon">
      search
    </mat-icon>
    Update Filter
  </button>
</div>