<div class="primary-nav">
  <mat-nav-list flex fxFlexAlign="center">
    <button mat-icon-button>
      <mat-icon class="nav-button" title="Directory" routerLink="/partydirectory" routerLinkActive="gold">
        list
      </mat-icon>
    </button>
    <button *ngIf="isAuthenticated()" style="display:none" mat-icon-button>
      <mat-icon class="nav-button" title="Messages" (click)="showMessages()">
        question_answer
      </mat-icon>
    </button>
    <button *ngIf="isAuthenticated()" mat-icon-button>
      <mat-icon class="nav-button" title="Characters" routerLink="/mycharacters" routerLinkActive="gold">
        face
      </mat-icon>
    </button>
    <button *ngIf="isAuthenticated() && notificationsStatus()!='denied'" [disabled]="!canUpdate()" mat-icon-button>
      <mat-icon *ngIf="notificationsStatus()=='default'" class="nav-button" title="Enable Notifications" (click)="showEnableNotificationsDialog()">
        notifications
      </mat-icon>
      <mat-icon *ngIf="(notificationsStatus()=='granted' && notificationsEnabled())" class="nav-button" title="Notifications ON" (click)="setNotifications(false)">
        notifications_active
      </mat-icon>
      <mat-icon *ngIf="(notificationsStatus()=='granted' && !notificationsEnabled())" class="nav-button" title="Notifications OFF" (click)="setNotifications(true)">
        notifications_off
      </mat-icon>
    </button>
  </mat-nav-list>
</div>