<div class="primary-nav">
  <mat-nav-list flex fxFlexAlign="center">
    <button *ngIf="isAuthenticated()" mat-icon-button>
      <mat-icon class="nav-button" title="My Parties" routerLink="/myparties" routerLinkActive="gold">
        group
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="nav-button" title="Directory" routerLink="/partydirectory" routerLinkActive="gold">
        list
      </mat-icon>
    </button>
    <button *ngIf="isAuthenticated()" mat-icon-button>
      <mat-icon class="nav-button" title="Messages" (click)="showMessages()">
        question_answer
      </mat-icon>
    </button>
    <button *ngIf="isAuthenticated()" mat-icon-button>
      <mat-icon class="nav-button" title="Characters" routerLink="/mycharacters" routerLinkActive="gold">
        face
      </mat-icon>
    </button>
  </mat-nav-list>
</div>