<app-header></app-header>
<mat-sidenav-container (backdropClick)="SNClose()">
  <mat-sidenav id="rightSideNav" #sidenav mode="over" [fixedInViewport]="true" [fixedTopGap]="76" [opened]="SNOpen()"
    position="end">
    <mat-nav-list flex>
      <a *ngIf="!userIsAuthenticated" mat-list-item unselectable="on" class="sidenav-caption" (click)="toggleLogin()">
        <mat-icon (click)="toggleLogin()" style="display:none;"></mat-icon>
        <p class="unselectable">Login</p>
      </a>
      <app-loginform *ngIf="LoginOpen"></app-loginform>
      <a *ngIf="!userIsAuthenticated" mat-list-item unselectable="on" class="sidenav-caption" (click)="toggleRegister()">
        <mat-icon (click)="toggleRegister()" style="display:none;"></mat-icon>
        <p class="unselectable">Register</p>
      </a>
      <app-registerform *ngIf="RegisterOpen"></app-registerform>
      <a *ngIf="userIsAuthenticated" mat-list-item unselectable="on" class="sidenav-caption" routerLink="/settings" (click)="SNClose()">
        <mat-icon routerLink="/settings" (click)="SNClose()" style="display:none;"></mat-icon>
        <p class="unselectable">Settings</p>
      </a>
      <a *ngIf="userIsAuthenticated && !userIsVerified && !verfSent" mat-list-item unselectable="on" class="sidenav-caption" (click)="sendVerfEmail()">
        <mat-icon (click)="sendVerfEmail()" style="display:none;"></mat-icon>
        <p class="unselectable" matBadge="!" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="above after">Verify</p>
      </a>
      <a *ngIf="userIsAuthenticated" mat-list-item unselectable="on" class="sidenav-caption" (click)="toggleLogout()">
        <mat-icon (click)="toggleLogout()" style="display:none;"></mat-icon>
        <p class="unselectable">Logout</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-banner></app-banner>
    <app-primarynav></app-primarynav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>