<mat-card class="party-card" *ngIf="!hidden">
  <table class="partycard-icon-container" style="outline: #FFF;">
    <tr height="64px">
      <td class="partycard-instance-background">
        <img src="{{ this.instanceimg }}">
      </td>
      <td class="partycard-purpose-icon center">
        <img title="{{ purposeTitle }}" class="partycard-purpose-icon-img" src="{{ purposeIcon }}">
      </td>
      <td class="partycard-sync-icon center">
        <img title="{{ syncTitle }}" class="partycard-sync-icon-img" src="{{ syncIcon }}">
      </td>
      <td class="partycard-verf-icon center">
        <img title="Verified users Only" class="partycard-verf-icon-img" src="{{ verifiedIcon }}">
      </td>
      <td class="partycard-priv-icon center">
        <img *ngIf="hasPassword()" title="Private Party" class="partycard-priv-icon-img" src="{{ privatePartyIcon }}">
      </td>
      <td class="partycard-icon-bg">
          <img src="{{ instanceIconGradient }}">
      </td>
      <td class="partycard-id">
        {{ this.id }}
      </td>
    </tr>
    <tr>
      <td colspan="5" style="vertical-align: text-top;">
        <mat-card-header>
          <mat-card-title>
            {{ this.instanceName }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ this.ownerCharName }} @ {{ this.ownerServer }} ({{ this.ownerDC }})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="party-subdetails-container">
          <app-partycomposition [partyDetails]="this.partyDetails"></app-partycomposition>
          <app-partyschedule fxHide.lt-md="true"></app-partyschedule>
          <app-partydescription *ngIf="this.description != ''" [description]="this.description" fxHide.lt-md="true"></app-partydescription>
        </mat-card-content>
      </td>
    </tr>
  </table>
  <div>
    <mat-card-actions>
      <div style="float:left;" fxHide.gt-sm="true">
        <button mat-icon-button *ngIf="isDescription(this.description)">
          <mat-icon class="description-button" (click)="toggleDescription()" title="Description">description</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="schedule-button" (click)="toggleSchedule()" title="Schedule">
            schedule</mat-icon>
        </button>
      </div>
      <div *ngIf="isAuth" style="float:right">
        <button mat-icon-button style="display:none">
          <mat-icon class="join-button" (click)="confirmJoin()" title="Join Party">
            done
          </mat-icon>
        </button>
        <button mat-icon-button style="display:none">
          <mat-icon class="leave-button" (click)="confirmLeave()" title="Leave Party">
            eject
          </mat-icon>
        </button>
        <button mat-icon-button style="display:none">
          <mat-icon class="link-button" (click)="confirmLink()" title="Copy Link">
            link
          </mat-icon>
        </button>
        <button mat-icon-button style="display:none">
          <mat-icon class="chat-button" (click)="confirmMessage()" title="Send Message">
            chat
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="hide-button" (click)="toggleHidden()" title="Hide Party">
            visibility_off
          </mat-icon>
        </button>
        <button mat-icon-button style="display:none">
          <mat-icon class="dismiss-button" (click)="confirmDismiss()" title="Dismiss">
            not_interested
          </mat-icon>
        </button>
      </div>
      <div *ngIf="!isAuth" style="float:right">
          <button mat-icon-button style="display:none">
            <mat-icon class="link-button" (click)="confirmLink()" title="Copy Link">
              link
            </mat-icon>
          </button>
          <button mat-icon-button style="display:none">
            <mat-icon class="chat-button" (click)="confirmMessage()" title="Send Message">
              chat
            </mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="hide-button" (click)="toggleHidden()" title="Hide Party">
              visibility_off
            </mat-icon>
          </button>
          <button mat-icon-button style="display:none">
            <mat-icon class="dismiss-button" (click)="confirmDismiss()" title="Dismiss">
              not_interested
            </mat-icon>
          </button>
        </div>
    </mat-card-actions>
  </div>
</mat-card>