<mat-card [ngClass]="{partycard: !highlight, partycardhighlight: highlight}" *ngIf="!hidden">
  <table class="partycard-icon-container" style="outline: #FFF;">
    <tr height="64px">
      <td class="partycard-instance-background">
        <img src="{{ this.instanceimg }}">
      </td>
      <td class="partycard-purpose-icon center">
        <img matTooltip="{{ purposeTitle }}" class="partycard-purpose-icon-img" src="{{ purposeIcon }}">
      </td>
      <td class="partycard-sync-icon center">
        <img matTooltip="{{ syncTitle }}" class="partycard-sync-icon-img" src="{{ syncIcon }}">
      </td>
      <td class="partycard-verf-icon center">
        <img matTooltip="{{ verifiedTitle }}" class="partycard-verf-icon-img" src="{{ verifiedIcon }}">
      </td>
      <td class="partycard-priv-icon center">
        <img *ngIf="hasPassword()" matTooltip="Private Party" class="partycard-priv-icon-img" src="{{ privatePartyIcon }}">
      </td>
      <td class="partycard-icon-bg">
        <img src="{{ instanceIconGradient }}">
      </td>
      <td class="partycard-id" (click)="copyID(partyIDText)" #partyIDText>
        ID: {{ this.shortID }}
      </td>
      <ng-container *ngIf="isOwner() && isAuth">
        <td class="partycard-settings-bg">
          <img src="{{ instanceIconGradient}}">
        </td>
        <td class="update-party-icon center">
          <button mat-icon-button>
            <mat-icon matTooltip="Update Party Options" (click)="updatePartyOptions()">
              settings_applications
            </mat-icon>
          </button>
        </td>
      </ng-container>
    </tr>
    <tr>
      <td colspan="5" style="vertical-align: text-top;">
        <mat-card-header>
          <mat-card-title>
            {{ this.instanceName }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ this.ownerCharName }} @ {{ this.ownerServer }} ({{ this.ownerDC }})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="party-subdetails-container">
          <app-partycomposition [partyDetails]="this.partyDetails"></app-partycomposition>
          <app-partyschedule fxHide.lt-md="true"></app-partyschedule>
          <app-partydescription *ngIf="this.description != ''" [description]="this.description" fxHide.lt-md="true"></app-partydescription>
        </mat-card-content>
      </td>
    </tr>
  </table>
  <div style="background-color: transparent;">
    <mat-card-actions>
      <div style="float:left; background-color: transparent;" fxHide.gt-sm="true">
        <button mat-icon-button *ngIf="isDescription(this.description)">
          <mat-icon class="description-button" (click)="toggleDescription()" matTooltip="Description">description</mat-icon>
        </button>
      </div>
      <div style="float:right; background-color: transparent;">
        <button mat-icon-button>
          <mat-icon class="hide-button" (click)="toggleHidden()" matTooltip="Hide Party">
            visibility_off
          </mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>