<div class="party-schedule" fxHide.lt-md="true">
  <table>
    <tr>
      <td>
        SUN
      </td>
      <td>
        MON
      </td>
      <td>
        TUE
      </td>
      <td>
        WED
      </td>
      <td>
        THU
      </td>
      <td>
        FRI
      </td>
      <td>
        SAT
      </td>
    </tr>
    <tr>
      <td>
        SUNi
      </td>
      <td>
        MONi
      </td>
      <td>
        TUEi
      </td>
      <td>
        WEDi
      </td>
      <td>
        THUi
      </td>
      <td>
        FRIi
      </td>
      <td>
        SATi
      </td>
    </tr>
    <tr>
      <td>
        SUNf
      </td>
      <td>
        MONf
      </td>
      <td>
        TUEf
      </td>
      <td>
        WEDf
      </td>
      <td>
        THUf
      </td>
      <td>
        FRIf
      </td>
      <td>
        SATf
      </td>
    </tr>
  </table>
</div>