<div class="welcome-container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="What is FFR?">
      <p>&emsp;FFR is a cross-platform tool designed to ease the pains of finding a group to play with in Final Fantasy
        XIV. Featuring a responsive interface and a wide array of tags for both the softcore and hardcore crowds,
        forming a group of like-minded players from your phone or desktop has never been easier.</p>
    </mat-tab>
    <mat-tab label="Why use FFR?">
      <ul>
        <li>
          Participate in other in-game activities while your party fills.
        </li>
        <li>
          Host and join multiple parties simultaneously.
        </li>
        <li>
          Schedule raids and recruit for parties ahead of time.
        </li>
        <li>
          Expand your search to include multiple datacenters.
        </li>
        <li>
          See who is in a party and what other jobs they're willing to play before you join.
        </li>
        <li>
          Pinpoint parties you're interested in through a wider array of search parameters.
        </li>
        <li>
          Form larger parties for The Baldesian Arsenal and other in-game events.
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Terms of Service">
    </mat-tab>
    <mat-tab label="FAQ">
    </mat-tab>
    <mat-tab label="DevBlog">
    </mat-tab>
  </mat-tab-group>
</div>