<div class="welcome-container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="What is FFR?">
      <p>&emsp;FFR is a tool designed to ease the pains of finding a group to play with in Final Fantasy
        XIV. Featuring a responsive interface and a wide array of tags for both the softcore and hardcore crowds,
        forming a group of like-minded players from your phone or desktop has never been easier.
        <br><br>&emsp;Here's a short list of features FFR offers that FFXIV's Party Finder does not:
        <br><br>&emsp;&nbsp;&nbsp;• Participate in other in-game activities while your party fills.
        <br><br>&emsp;&nbsp;&nbsp;• Host and join multiple parties simultaneously.
        <br><br>&emsp;&nbsp;&nbsp;• Schedule raids and recruit for parties ahead of time.
        <br><br>&emsp;&nbsp;&nbsp;• Expand your search to include multiple datacenters.
        <br><br>&emsp;&nbsp;&nbsp;• See who is in a party and what other jobs they're willing to play before you join.
        <br><br>&emsp;&nbsp;&nbsp;• Pinpoint parties you're interested in through a wider array of search parameters.
        <br><br>&emsp;&nbsp;&nbsp;• Form larger parties for The Baldesian Arsenal and other in-game events.
      </p>
    </mat-tab>
    <mat-tab label="Terms of Service">
    </mat-tab>
    <mat-tab label="Privacy">
    </mat-tab>
    <mat-tab label="FAQ">
    </mat-tab>
    <mat-tab label="DevBlog">
    </mat-tab>
  </mat-tab-group>
</div>