<mat-card class="character-card" height="200px">
  <table width="100%">
    <tr width="100%">
      <td width="15%">
        {{ name }}<br>
        <img mat-card-avatar src="{{ avatar }}"><br>
        ({{ server }})
      </td>
      <td width="40%" fxHide.lt-md="true">
        <table style="align-items: center">
          <tr class="tanks-healers">
            <td class="pld">
              <img matTooltip="GLA/PLD" src="https://imagizer.imageshack.com/img923/7792/6M2Z98.png">
              <br><span>{{ jobLevels[0] }}</span>
            </td>
            <td class="war">
              <img matTooltip="MRD/WAR" src="https://imagizer.imageshack.com/img921/2389/jDmn3l.png">
              <br><span>{{ jobLevels[1] }}</span>
            </td>
            <td class="drk">
              <img matTooltip="DRK" src="https://imagizer.imageshack.com/img924/7858/MbYriQ.png">
              <br><span>{{ jobLevels[2] }}</span>
            </td>
            <td class="gnb">
              <img matTooltip="GNB" src="https://imagizer.imageshack.com/img924/4720/UmMoX1.png">
              <br><span>{{ jobLevels[3] }}</span>
            </td>
            <td class="whm">
              <img matTooltip="CNJ/WHM" src="https://imagizer.imageshack.com/img924/4822/agID3W.png">
              <br><span>{{ jobLevels[4] }}</span>
            </td>
            <td class="sch">
              <img matTooltip="ACN/SCH" src="https://imagizer.imageshack.com/img921/5334/Ewwu8C.png">
              <br><span>{{ jobLevels[5] }}</span>
            </td>
            <td class="ast">
              <img matTooltip="AST" src="https://imagizer.imageshack.com/img924/9874/BrNlHU.png">
              <br><span>{{ jobLevels[6] }}</span>
            </td>
          </tr>
          <tr class="melee">
            <td class="mnk">
              <img matTooltip="PGL/MNK" src="https://imagizer.imageshack.com/img924/7632/kQkfSs.png">
              <br><span>{{ jobLevels[7] }}</span>
            </td>
            <td class="drg">
              <img matTooltip="LNC/DRG" src="https://imagizer.imageshack.com/img923/6941/DkBb3n.png">
              <br><span>{{ jobLevels[8] }}</span>
            </td>
            <td class="nin">
              <img matTooltip="ROG/NIN" src="https://imagizer.imageshack.com/img924/3374/yd4sQg.png">
              <br><span>{{ jobLevels[9] }}</span>
            </td>
            <td class="sam">
              <img matTooltip="SAM" src="https://imagizer.imageshack.com/img923/2145/uEThD3.png">
              <br><span>{{ jobLevels[10] }}</span>
            </td>
            <td class="brd">
              <img matTooltip="ARC/BRD" src="https://imagizer.imageshack.com/img924/9849/UAFbv8.png">
              <br><span>{{ jobLevels[11] }}</span>
            </td>
            <td class="mch">
              <img matTooltip="MCH" src="https://imagizer.imageshack.com/img921/4551/AfcuVu.png">
              <br><span>{{ jobLevels[12] }}</span>
            </td>
            <td class="dnc">
              <img matTooltip="DNC" src="https://imagizer.imageshack.com/img924/1867/MEkP1s.png">
              <br><span>{{ jobLevels[13] }}</span>
            </td>
          </tr>
          <tr class="caster">
            <td class="blm">
              <img matTooltip="THM/BLM" src="https://imagizer.imageshack.com/img923/8850/18nmqz.png">
              <br><span>{{ jobLevels[14] }}</span>
            </td>
            <td class="smn">
              <img matTooltip="ACN/SMN" src="https://imagizer.imageshack.com/img923/4978/00F3j7.png">
              <br><span>{{ jobLevels[15] }}</span>
            </td>
            <td class="rdm">
              <img matTooltip="RDM" src="https://imagizer.imageshack.com/img921/6654/nBXYHS.png">
              <br><span>{{ jobLevels[16] }}</span>
            </td>
            <td class="blu">
              <img matTooltip="BLU" src="https://imagizer.imageshack.com/img923/8366/FkBkm8.png">
              <br><span>{{ jobLevels[17] }}</span>
            </td>
          </tr>
        </table>
      </td>
      <td width="40%" fxHide.lt-md="true">
        <table>
          <tr>
            <td [ngClass]="{goldParse: isGold(parses[0]), orangeParse: isOrange(parses[0]), purpleParse: isPurple(parses[0]), blueParse: isBlue(parses[0]), greenParse: isGreen(parses[0]), grayParse: isGray(parses[0])}">
              <img matTooltip="E1S" src="https://imagizer.imageshack.com/img923/6786/MtOJRY.jpg"><br>
              {{ parses[0] }}
            </td>
            <td [ngClass]="{goldParse: isGold(parses[1]), orangeParse: isOrange(parses[1]), purpleParse: isPurple(parses[1]), blueParse: isBlue(parses[1]), greenParse: isGreen(parses[1]), grayParse: isGray(parses[1])}">
              <img matTooltip="E2S" src="https://imagizer.imageshack.com/img922/6339/lvoZYE.jpg"><br>
              {{ parses[1] }}
            </td>
            <td [ngClass]="{goldParse: isGold(parses[2]), orangeParse: isOrange(parses[2]), purpleParse: isPurple(parses[2]), blueParse: isBlue(parses[2]), greenParse: isGreen(parses[2]), grayParse: isGray(parses[2])}">
              <img matTooltip="E3S" src="https://imagizer.imageshack.com/img921/4206/DYRrzl.jpg"><br>
              {{ parses[2] }}
            </td>
            <td [ngClass]="{goldParse: isGold(parses[3]), orangeParse: isOrange(parses[3]), purpleParse: isPurple(parses[3]), blueParse: isBlue(parses[3]), greenParse: isGreen(parses[3]), grayParse: isGray(parses[3])}">
              <img matTooltip="E4S" src="https://imagizer.imageshack.com/img923/7776/lohCIj.jpg"><br>
              {{ parses[3] }}
            </td>
          </tr>
          <tr>
            <td [ngClass]="{goldParse: isGold(parses[5]), orangeParse: isOrange(parses[5]), purpleParse: isPurple(parses[5]), blueParse: isBlue(parses[5]), greenParse: isGreen(parses[5]), grayParse: isGray(parses[5])}">
              <img matTooltip="UCOB" src="https://imagizer.imageshack.com/img921/1425/gUxLf5.jpg"><br>
              {{ parses[5] }}
            </td>
            <td [ngClass]="{goldParse: isGold(parses[6]), orangeParse: isOrange(parses[6]), purpleParse: isPurple(parses[6]), blueParse: isBlue(parses[6]), greenParse: isGreen(parses[6]), grayParse: isGray(parses[6])}">
              <img matTooltip="UWU" src="https://imagizer.imageshack.com/img924/7401/y1Lq8B.jpg"><br>
              {{ parses[6] }}
            </td>
            <td [ngClass]="{goldParse: isGold(parses[7]), orangeParse: isOrange(parses[7]), purpleParse: isPurple(parses[7]), blueParse: isBlue(parses[7]), greenParse: isGreen(parses[7]), grayParse: isGray(parses[7])}">
              <img matTooltip="TEA" src="https://imagizer.imageshack.com/img921/4406/UeuJKi.jpg"><br>
              {{ parses[7] }}
            </td>
          </tr>
        </table>
      </td>
      <td width="80%" fxHide.gt-sm="true">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Jobs">
            <table style="align-items: center">
              <tr class="tanks-healers">
                <td class="pld">
                  <img matTooltip="GLA/PLD" src="https://imagizer.imageshack.com/img923/7792/6M2Z98.png">
                  <br><span>{{ jobLevels[0] }}</span>
                </td>
                <td class="war">
                  <img matTooltip="MRD/WAR" src="https://imagizer.imageshack.com/img921/2389/jDmn3l.png">
                  <br><span>{{ jobLevels[1] }}</span>
                </td>
                <td class="drk">
                  <img matTooltip="DRK" src="https://imagizer.imageshack.com/img924/7858/MbYriQ.png">
                  <br><span>{{ jobLevels[2] }}</span>
                </td>
                <td class="gnb">
                  <img matTooltip="GNB" src="https://imagizer.imageshack.com/img924/4720/UmMoX1.png">
                  <br><span>{{ jobLevels[3] }}</span>
                </td>
                <td class="whm">
                  <img matTooltip="CNJ/WHM" src="https://imagizer.imageshack.com/img924/4822/agID3W.png">
                  <br><span>{{ jobLevels[4] }}</span>
                </td>
                <td class="sch">
                  <img matTooltip="ACN/SCH" src="https://imagizer.imageshack.com/img921/5334/Ewwu8C.png">
                  <br><span>{{ jobLevels[5] }}</span>
                </td>
                <td class="ast">
                  <img matTooltip="AST" src="https://imagizer.imageshack.com/img924/9874/BrNlHU.png">
                  <br><span>{{ jobLevels[6] }}</span>
                </td>
              </tr>
              <tr class="melee">
                <td class="mnk">
                  <img matTooltip="PGL/MNK" src="https://imagizer.imageshack.com/img924/7632/kQkfSs.png">
                  <br><span>{{ jobLevels[7] }}</span>
                </td>
                <td class="drg">
                  <img matTooltip="LNC/DRG" src="https://imagizer.imageshack.com/img923/6941/DkBb3n.png">
                  <br><span>{{ jobLevels[8] }}</span>
                </td>
                <td class="nin">
                  <img matTooltip="ROG/NIN" src="https://imagizer.imageshack.com/img924/3374/yd4sQg.png">
                  <br><span>{{ jobLevels[9] }}</span>
                </td>
                <td class="sam">
                  <img matTooltip="SAM" src="https://imagizer.imageshack.com/img923/2145/uEThD3.png">
                  <br><span>{{ jobLevels[10] }}</span>
                </td>
                <td class="brd">
                  <img matTooltip="ARC/BRD" src="https://imagizer.imageshack.com/img924/9849/UAFbv8.png">
                  <br><span>{{ jobLevels[11] }}</span>
                </td>
                <td class="mch">
                  <img matTooltip="MCH" src="https://imagizer.imageshack.com/img921/4551/AfcuVu.png">
                  <br><span>{{ jobLevels[12] }}</span>
                </td>
                <td class="dnc">
                  <img matTooltip="DNC" src="https://imagizer.imageshack.com/img924/1867/MEkP1s.png">
                  <br><span>{{ jobLevels[13] }}</span>
                </td>
              </tr>
              <tr class="caster">
                <td class="blm">
                  <img matTooltip="THM/BLM" src="https://imagizer.imageshack.com/img923/8850/18nmqz.png">
                  <br><span>{{ jobLevels[14] }}</span>
                </td>
                <td class="smn">
                  <img matTooltip="ACN/SMN" src="https://imagizer.imageshack.com/img923/4978/00F3j7.png">
                  <br><span>{{ jobLevels[15] }}</span>
                </td>
                <td class="rdm">
                  <img matTooltip="RDM" src="https://imagizer.imageshack.com/img921/6654/nBXYHS.png">
                  <br><span>{{ jobLevels[16] }}</span>
                </td>
                <td class="blu">
                  <img matTooltip="BLU" src="https://imagizer.imageshack.com/img923/8366/FkBkm8.png">
                  <br><span>{{ jobLevels[17] }}</span>
                </td>
              </tr>
            </table>
          </mat-tab>
          <mat-tab label="Parses">
            <table>
              <tr>
                <td [ngClass]="{goldParse: isGold(parses[0]), orangeParse: isOrange(parses[0]), purpleParse: isPurple(parses[0]), blueParse: isBlue(parses[0]), greenParse: isGreen(parses[0]), grayParse: isGray(parses[0])}">
                  <img matTooltip="E1S" src="https://imagizer.imageshack.com/img923/6786/MtOJRY.jpg"><br>
                  {{ parses[0] }}
                </td>
                <td [ngClass]="{goldParse: isGold(parses[1]), orangeParse: isOrange(parses[1]), purpleParse: isPurple(parses[1]), blueParse: isBlue(parses[1]), greenParse: isGreen(parses[1]), grayParse: isGray(parses[1])}">
                  <img matTooltip="E2S" src="https://imagizer.imageshack.com/img922/6339/lvoZYE.jpg"><br>
                  {{ parses[1] }}
                </td>
                <td [ngClass]="{goldParse: isGold(parses[2]), orangeParse: isOrange(parses[2]), purpleParse: isPurple(parses[2]), blueParse: isBlue(parses[2]), greenParse: isGreen(parses[2]), grayParse: isGray(parses[2])}">
                  <img matTooltip="E3S" src="https://imagizer.imageshack.com/img921/4206/DYRrzl.jpg"><br>
                  {{ parses[2] }}
                </td>
                <td [ngClass]="{goldParse: isGold(parses[3]), orangeParse: isOrange(parses[3]), purpleParse: isPurple(parses[3]), blueParse: isBlue(parses[3]), greenParse: isGreen(parses[3]), grayParse: isGray(parses[3])}">
                  <img matTooltip="E4S" src="https://imagizer.imageshack.com/img923/7776/lohCIj.jpg"><br>
                  {{ parses[3] }}
                </td>
              </tr>
              <tr>
                <td [ngClass]="{goldParse: isGold(parses[5]), orangeParse: isOrange(parses[5]), purpleParse: isPurple(parses[5]), blueParse: isBlue(parses[5]), greenParse: isGreen(parses[5]), grayParse: isGray(parses[5])}">
                  <img matTooltip="UCOB" src="https://imagizer.imageshack.com/img921/1425/gUxLf5.jpg"><br>
                  {{ parses[5] }}
                </td>
                <td [ngClass]="{goldParse: isGold(parses[6]), orangeParse: isOrange(parses[6]), purpleParse: isPurple(parses[6]), blueParse: isBlue(parses[6]), greenParse: isGreen(parses[6]), grayParse: isGray(parses[6])}">
                  <img matTooltip="UWU" src="https://imagizer.imageshack.com/img924/7401/y1Lq8B.jpg"><br>
                  {{ parses[6] }}
                </td>
                <td [ngClass]="{goldParse: isGold(parses[7]), orangeParse: isOrange(parses[7]), purpleParse: isPurple(parses[7]), blueParse: isBlue(parses[7]), greenParse: isGreen(parses[7]), grayParse: isGray(parses[7])}">
                  <img matTooltip="TEA" src="https://imagizer.imageshack.com/img921/4406/UeuJKi.jpg"><br>
                  {{ parses[7] }}
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://imagizer.imageshack.com/img921/1092/gfROWT.png" style="height:35px">
                </td>
              </tr>
            </table>
          </mat-tab>
        </mat-tab-group>
      </td>
      <td width="5%" align="right">
        <button mat-icon-button [disabled]="!canRefresh()" (click)="refreshCharacter()">
          <mat-icon>refresh</mat-icon>
        </button>
        <span>{{ timeLeft }}</span>
      </td>
    </tr>
    <tr>
      <td colspan=3>
        <mat-progress-bar mode="query" color="accent" *ngIf="isRefreshing"></mat-progress-bar>
      </td>
    </tr>
  </table>
</mat-card>
