<section class="container">
  <div class="avatar">
    <ng-container *ngIf="!userIsAuthenticated">
      <button mat-icon-button (click)="toggleSN()">
        <mat-icon>account_box</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="userIsAuthenticated">
      <button mat-icon-button (click)="toggleSN()">
        <img _ngcontent-avs-c28="" class="avatar" src="../../../assets/icons/icon_default_avatar.png">
      </button>
    </ng-container>
    <div class="username" (click)="toggleSN()">
      {{ name }}
    </div>
  </div>
</section>