@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';


$bluebg: #001020;
$crdclr: #002030;
$dgrybg: #0b0b0b;
$lgrybg: #141414;
$brdclr: #555555;
$fontwt: #e1f2f5;
$fontbl: #46c5ff;
$fontg1: #808073;
$fontg2: #aebcc0;
$tfldbg: #404040;

$mat-myapp-primary: (
  50 : #ede7f9,
  100 : #d2c4f1,
  200 : #b49ce7,
  300 : #9574dd,
  400 : #7f57d6,
  500 : #6839cf,
  600 : #6033ca,
  700 : #552cc3,
  800 : #4b24bd,
  900 : #3a17b2,
  A100 : #eae5ff,
  A200 : #c1b3ff,
  A400 : #9880ff,
  A700 : #8366ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-myapp-accent: (
  50 : #e1f0fe,
  100 : #b4dafd,
  200 : #82c2fc,
  300 : #4faafa,
  400 : #2a97f9,
  500 : #0485f8,
  600 : #037df7,
  700 : #0372f6,
  800 : #0268f5,
  900 : #0155f3,
  A100 : #ffffff,
  A200 : #e6edff,
  A400 : #b3c9ff,
  A700 : #9ab7ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);

.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: 'Material Icons Two Tone';
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: 'Material Icons Sharp';
}

html {
	background-color: $bluebg;
	color: $fontwt;
}

body {
  font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

.mat-stepper-vertical {
  background-color: transparent;
}

.mat-card-subtitle {
	color: $fontwt;
}

// Make sure dialogs are on top and in blue
.mat-dialog-container {
	background-color: $bluebg;
  z-index: 10 !important;
  
  a:link, a:visited {
    color: $fontbl;
    font-family: 'Roboto', sans-serif;
  }
}

.job-selector {
	width: 100%;
  //max-width: 80px;
  //padding-left: 100px;
}

.invalid-form-entry {
  font-family: 'Roboto', sans-serif;
  color: red;
}

.partycount {
	position: relative; 
	top: 25px; 
	height: 0px;

	p {
		font-family: 'Roboto', sans-serif;
	}
}

mat-sidenav-container {
  background-color: black;
}

// Change backdrop color to black when sidenav is out
.mat-drawer-shown {
    background-color: rgba(0,0,0,0.7) !important;
}

// Make sure header is on top of content, but behind dialogs
.header-container {
	z-index: 5 !important;
}

.mat-paginator-outer-container {
	background-color: $dgrybg;
}

.right-margin {
  margin-right: 5px;
}

mat-form-field {
  width: 80%;
  max-width: 300px;
}

.mat-option-text {
  color: $fontwt;
}