@import "/../app.component";

span{
  text-align: center;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  display: block;
  width: 100%;
}

.filterOn {
  background-color: #0485f8;
  color: #FFFFFF;
}

.filterOff{
  background-color: #424242;
  color: #AAAAAA;
}

.spinner{
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: transparent;
}

.search-filters{
  margin-bottom: 20px;
}

div {
  outline: none;
}

.party-card {
  outline: 1px solid $brdclr;
}

.progress-notifications {
  margin-top: 0px;
  background-color: transparent;
}

.parties-container {
  background-color: $bluebg;
  outline: none;
}

.partycard-instance-background {
  img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
}

.partycard-purpose-icon {
  position: absolute;
  top: 10px;
  left: 0px;
}

.partycard-sync-icon {
  position: absolute;
  top: 10px;
  left: 64px;
}

.partycard-verf-icon {
  position: absolute;
  top: 10px;
  left: 128px;
}

.partycard-priv-icon {
  position: absolute;
  left: 0px;
  top: 74px;
}

.party-description {
  max-width: 600px;
}