@import "/../../../styles";

div {
  padding: 10px;
  outline: 1px solid $brdclr;
}

.button-container {
  display: flex;
  align-items: flex-end;
}

button {
  margin: 10px;
}

.auth-status {
  color: #69f0ae;
}

.auth-status-spinner {
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: transparent;
}
