@import "../app.component";

div {
  background-color: $dgrybg;
  color: $fontwt;
  outline: 1px solid $brdclr;
  margin-top: 10px;
}

.tierCard {
  height: 90%;
  width: 90%;
  text-align: center;
}

.show{
  margin-top: 0px;
  display: visible;
  outline: none;
  border-bottom: 1px solid $brdclr;
}

.hide {
  margin-top: 0px;
  display: none;
}

.isClicked {
  background-color: #9c27b0;
  color: #FFFFFF;
}

.isNotClicked {
  background-color: #424242;
  color: #AAAAAA;
}

.save {
  position: relative;
  outline: none;
  right: 0px;
  height: 50px;
  border-top: 1px solid $brdclr;
  margin: 0px;
}

.canSave {
  position: relative;
  float: right;
  right: 10px;
  top: 8px;
  width: 100px;
  background-color: #0485f8;
  color: #FFFFFF;
}

.cannotSave {
  position: relative;
  float: right;
  width: 100px;
  right: 10px;
  top: 8px;
}